/*!
 *
 * William Thomas & Associates CSS Styles
 *
 */

/*
 * Brand Colors
 *
 * #0F2167 Blue
 * #67271E Maroon
 * #927350 Sandstone
 *
 */

/* Layout */

body {
  padding-top: 60px;
}

.wrapper-main {
  max-width: 800px;
  margin: 0 auto;
}

/* Twelve column grid */

.row {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  height: 100%;
  display: inline-block;
}

.col-1  { width:  8.3333%; }
.col-2  { width: 16.6666%; }
.col-3  { width: 25%;      }
.col-4  { width: 33.3333%; }
.col-5  { width: 41.6666%; }
.col-6  { width: 50%;      }
.col-7  { width: 58.3333%; }
.col-8  { width: 66.6666%; }
.col-9  { width: 75%;      }
.col-10 { width: 83.3333%; }
.col-11 { width: 91.6666%; }
.col-12 { width: 100%;     }

/* Global */

div, section, main, aside, header, footer, article {
  /*padding: .5em;*/
  /*margin-bottom: 1em;*/
}

img {
  width:100%;
}

ul {
  list-style: none;
}

nav ul {
  padding: 0;
}

/* Typography */

body {
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  color: #67271E;
}

a:link {
  text-decoration:none;
  color:#67271E;
}

a:hover {
  text-decoration:underline;
}

input[type=submit],
input[type=email],
input[type=text] {
  color: #fff;
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

.centered {
  text-align: center;
}

.button {
  padding: 5px 10px;
  background-color: #0F2167;
  color:white;
  border: 0 none transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 110%;
  display:block;
  width:200px;

}

.button-left {
  padding: 5px 10px;
  margin-bottom:15px;
  background-color: #0F2167;
  color:white;
  border: 0 none transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 110%;
  display:block;
  width:360px;
}

/* Inputs */

input[type=submit] {
  padding: 5px 10px;
  background-color: #0F2167;
  border: 0 none transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 110%;
}

input[type=email],
input[type=text] {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #D8D8D8;
  border: 1px solid #979797;
}

/* Nav */

.logo-big {
  max-width: 400px;
  margin: 1rem auto;
}

.navbar-top.paradeiser:first-child {
  /*height: 120px;*/
  border-bottom: 3px solid #927350;
}

.navbar-top.paradeiser .paradeiser_children li {
  background-color: #fff;
}

.navbar-top.paradeiser a {
  padding: 1rem 0;
  color: #67271E;
  font-size: 1rem;
  transition: background-color 0.5s;
}

.paradeiser_children li:first-child {
  border-top: 3px solid #927350;
}

.paradeiser_children li {
  border-bottom: 1px solid #927350;
}

.navbar-top.paradeiser .fa {
  font-size: 2rem;
  color: #67271E;
  transition: 0.5s;
}

.navbar-top.paradeiser .paradeiser_dropdown.active,
.navbar-top.paradeiser .paradeiser_dropdown:hover,
.navbar-top.paradeiser a.active,
.navbar-top.paradeiser a:hover {
  background-color: #e4dcd4;
  text-decoration: none;
}

.navbar-top.paradeiser ul li:last-child a {
  background-color: rgba(146, 115, 80, 0.5);
}

/* Footer */

.page-footer {
  background-color: none;
  color: #0F2167;
  text-align: center;
}

.page-footer dd {
  margin: 0;
}

dt {
  color:#67271E;
}

/* Feature Sections */

.feature-section {
  background-color: #f2f2f2;
  color: #927350;
}

.feature-section .feature-heading {
  margin: 2rem auto;
}

.feature-section .feature-heading h1,
.feature-section .feature-heading h2,
.feature-section .feature-heading h3,
.feature-section .feature-heading h4,
.feature-section .feature-heading h5,
.feature-section .feature-heading h6 {
  display: inline;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #927350;
}

.feature-section .feature-content {
  padding: 1rem;
}

.feature-section ul {
  padding: 0;
  list-style: none;
}

.feature-section li {
  padding: 1.5rem 0;
}

.feature-section p {
  padding: 0;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  line-height: 1.75rem;
}

.circle-number {

  width: 4rem;
  height: 4rem;

  display: inline-block;

  background-color: #0F2167;
  border-radius: 2rem;
  color: #fff;

  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  vertical-align: bottom;

}


/* Misc */

.img-block {
  display: block;
}

.divider-top {
  border-top: 5px solid #927350;
}

/* Media Queries */
@media screen and (min-width:1000px) {
  footer {
  max-width:900px;
  margin:auto;
}
.contact {
  float:left;
  padding-top:1em;
  padding-bottom:2em;
  width:33.3%;
}
