
/*
 * Brand Colors
 *
 * #0F2167 Blue
 * #67271E Maroon
 * #927350 Sandstone
 *
 */

/* Layout */

* {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
}

.wrapper-main {
  max-width: 800px;
  margin: 0 auto 30px 30px;
}

/* Twelve column grid */

.row {
  width: 100%;
  height: auto;
}

.row:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}

.col-xs-1,  .col-sm-1,  .col-md-1,  .col-lg-1,
.col-xs-2,  .col-sm-2,  .col-md-2,  .col-lg-2,
.col-xs-3,  .col-sm-3,  .col-md-3,  .col-lg-3,
.col-xs-4,  .col-sm-4,  .col-md-4,  .col-lg-4,
.col-xs-5,  .col-sm-5,  .col-md-5,  .col-lg-5,
.col-xs-6,  .col-sm-6,  .col-md-6,  .col-lg-6,
.col-xs-7,  .col-sm-7,  .col-md-7,  .col-lg-7,
.col-xs-8,  .col-sm-8,  .col-md-8,  .col-lg-8,
.col-xs-9,  .col-sm-9,  .col-md-9,  .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  height: 100%;
  display: inline-block;
  float: left;
  margin: 0;
}

.float-center {
  float: none;
}

.col-xs-1,  .col-sm-1,  .col-md-1,  .col-lg-1  { width:  8.3333%; }
.col-xs-2,  .col-sm-2,  .col-md-2,  .col-lg-2  { width: 16.6666%; }
.col-xs-3,  .col-sm-3,  .col-md-3,  .col-lg-3  { width: 25%;      }
.col-xs-4,  .col-sm-4,  .col-md-4,  .col-lg-4  { width: 33.3333%; }
.col-xs-5,  .col-sm-5,  .col-md-5,  .col-lg-5  { width: 41.6666%; }
.col-xs-6,  .col-sm-6,  .col-md-6,  .col-lg-6  { width: 50%;      }
.col-xs-7,  .col-sm-7,  .col-md-7,  .col-lg-7  { width: 58.3333%; }
.col-xs-8,  .col-sm-8,  .col-md-8,  .col-lg-8  { width: 66.6666%; }
.col-xs-9,  .col-sm-9,  .col-md-9,  .col-lg-9  { width: 75%;      }
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10 { width: 83.3333%; }
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11 { width: 91.6666%; }
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { width: 100%;     }

/* Global */

div, section, main, aside, header, footer, article {
  /*padding: .5em;
  /*margin-bottom: 1em;*/
  margin-right:10px;
}

img {
  width:100%;
}

ul {
  list-style: none;
}

nav ul {
  padding: 0;
}

/* Typography */

body {
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  color: #67271E;
}

a {
  text-decoration: none;
  color: #67271E;
}

a:hover {
  text-decoration: underline;
}

input[type=submit],
input[type=email],
input[type=text] {
  color: #fff;
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

.centered {
  text-align: center;
}

/* Inputs */

input[type=submit] {
  padding: 5px 10px;
  background-color: #0F2167;
  border: 0 none transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 110%;
}

input[type=email],
input[type=text] {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #D8D8D8;
  border: 1px solid #979797;
}

.button,
.button-left {
  margin-bottom: 10px;
  display:inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #0F2167;
  border: 0 none transparent;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 110%;
}

/* Nav */

.logo-big {
  max-width: 400px;
  margin: 1rem auto;
}

.williamthomas_logo {
  width: 20px;
  display: block;
  margin: 0 auto;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 20px;
  color: #000;
  text-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-top.paradeiser:first-child {
  border-bottom: 3px solid #927350;
}

.navbar-top.paradeiser .paradeiser_dropdown.active,
.navbar-top.paradeiser .paradeiser_dropdown:hover,
.navbar-top.paradeiser a.active,
.navbar-top.paradeiser a:hover {
  background-color: #e4dcd4;
  text-decoration: none;
}

.navbar-top.paradeiser a {
  background-color: #fff;
  color: #67271E;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.5s;
}

.navbar-top.paradeiser .fa {
  font-size: 2rem;
  color: #67271E;
}

.navbar-top.paradeiser .paradeiser_children li:last-child a,
.navbar-top.paradeiser .paradeiser_children li:last-child a.active,
.navbar-top.paradeiser .paradeiser_children li:last-child a:hover {
  /* This is the background color overlay */
  background-color: rgba(146, 115, 80, 0.5);
}

.nav-list ul {
  border-top: 3px solid #927350;
}

.nav-list li {
  width: 100%;
  display: inline-block;
  padding: 0;
}

.nav-list a {
  width: 100%;
  display: inline-block;
  padding: 1rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #927350;
  color: #67271E;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.5s;
}

.nav-list a:hover {
  background-color: #e4dcd4;
  text-decoration: none;
}

/* Footer */

.page-footer {
  background-color: none;
  color: #0F2167;
  text-align: center;
}

.page-footer dd {
  margin: 0;
}

.page-footer dt {
  color: #67271E;
}

.contact {
  float: left;
  padding-top: 1em;
  padding-bottom: 2em;
  width: 33.3%;
}

.contact a:link {
  color:#0F2167;
}

.resize {
  width: 60px;
  height: auto;
  margin-right:5px;
  text-align:center;
}
/* Feature Sections */

.feature-section {
  background-color: #f2f2f2;
  color: #927350;
}

.feature-section hr {
  border-bottom: 2px solid #927350;
}

.feature-section .feature-heading {
  margin: 2rem auto 1rem;
}

.feature-section .feature-heading h1,
.feature-section .feature-heading h2,
.feature-section .feature-heading h3,
.feature-section .feature-heading h4,
.feature-section .feature-heading h5,
.feature-section .feature-heading h6 {
  display: inline;
  padding-bottom: 0.5rem;
}

.feature-section .feature-content {
  padding: 1rem;
}

.feature-section .feature-list {
  margin: 3rem auto 1rem;
  padding: 0;
  list-style: none;
}

.feature-section p {
  padding: 0;
  padding-bottom: 3rem;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  line-height: 1.75rem;
}

.circle-number {

  width: 4rem;
  height: 4rem;

  display: inline-block;

  background-color: #0F2167;
  border-radius: 2rem;
  color: #fff;

  font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  vertical-align: bottom;

}


/* Misc */

.img-block {
  display: block;
}

.divider-top {
  border-top: 5px solid #927350;
}

/* Media Queries */

@media screen and (max-width: 320px) {

  .col-xs-1  { width:  8.3333%; }
  .col-xs-2  { width: 16.6666%; }
  .col-xs-3  { width: 25%;      }
  .col-xs-4  { width: 33.3333%; }
  .col-xs-5  { width: 41.6666%; }
  .col-xs-6  { width: 50%;      }
  .col-xs-7  { width: 58.3333%; }
  .col-xs-8  { width: 66.6666%; }
  .col-xs-9  { width: 75%;      }
  .col-xs-10 { width: 83.3333%; }
  .col-xs-11 { width: 91.6666%; }
  .col-xs-12 { width: 100%;     }

}

@media screen and (min-width: 320px) {

  .col-sm-1  { width:  8.3333%; }
  .col-sm-2  { width: 16.6666%; }
  .col-sm-3  { width: 25%;      }
  .col-sm-4  { width: 33.3333%; }
  .col-sm-5  { width: 41.6666%; }
  .col-sm-6  { width: 50%;      }
  .col-sm-7  { width: 58.3333%; }
  .col-sm-8  { width: 66.6666%; }
  .col-sm-9  { width: 75%;      }
  .col-sm-10 { width: 83.3333%; }
  .col-sm-11 { width: 91.6666%; }
  .col-sm-12 { width: 100%;     }
  .button-left {
    display:inline-block;
  }
    .contact {
      float: left;
      padding-top: 1em;
      padding-bottom: 2em;
      width: 30%;
      font-size:70%;
    }
}

@media screen and (min-width: 768px) {

  .col-md-1  { width:  8.3333%; }
  .col-md-2  { width: 16.6666%; }
  .col-md-3  { width: 25%;      }
  .col-md-4  { width: 33.3333%; }
  .col-md-5  { width: 41.6666%; }
  .col-md-6  { width: 50%;      }
  .col-md-7  { width: 58.3333%; }
  .col-md-8  { width: 66.6666%; }
  .col-md-9  { width: 75%;      }
  .col-md-10 { width: 83.3333%; }
  .col-md-11 { width: 91.6666%; }
  .col-md-12 { width: 100%;     }

}

@media screen and (min-width: 1024px) {

  .col-lg-1  { width:  8.3333%; }
  .col-lg-2  { width: 16.6666%; }
  .col-lg-3  { width: 25%;      }
  .col-lg-4  { width: 33.3333%; }
  .col-lg-5  { width: 41.6666%; }
  .col-lg-6  { width: 50%;      }
  .col-lg-7  { width: 58.3333%; }
  .col-lg-8  { width: 66.6666%; }
  .col-lg-9  { width: 75%;      }
  .col-lg-10 { width: 83.3333%; }
  .col-lg-11 { width: 91.6666%; }
  .col-lg-12 { width: 100%;     }

  .page-footer {
    max-width: 900px;
    margin: auto;
  }

}
