body {
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

/* Layout */

body {
  padding-top: 60px;
}

.wrapper-main {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-image {
  margin: 0 auto;
  text-align: center;
}

div, section, main, aside, header, footer {
  /*border: 1px solid lightgray;*/
  /*padding: .5em;*/
  /*margin-bottom: 1em;*/
}

img {
  width:100%;
}

/* Typography */

h1, h2 {
  font-family: 'Source Serif Pro', Helvetica, Arial, sans-serif;
  color: #67271E;
}

/* Inputs */

input[type=submit] {
  padding:5px 5px 10px 10px;
  border:none;
  color:white;
  font-family:'Mandali';
  font-size:110%;
  background-color: #0F2167;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}

input[type=email] {
  color: white;
  font-family:'Mandali';
  background-color:#D8D8D8;
  border-color:979797;
  border: solid 1px;
  padding:5px;
  margin-bottom:10px;
}

input[type=text] {
  color: white;
  font-family:'Mandali';
  background-color:#D8D8D8;
  border-color:979797;
  border: solid 1px;
  padding:5px;
  margin-bottom:10px;

}

/* Nav */

.logo-big {
  max-width: 400px;
  margin: 1rem auto;
}

.navbar-top.paradeiser:first-child {
  /*height: 120px;*/
}

.navbar-top a {
  font-size: 2rem;
  color: #67271E;
  transition: 0.5s;
}

.navbar-top .fa {
  font-size: 2rem;
  color: #67271E;
  transition: 0.5s;
}

.navbar-top a:hover {
  /*transform: scale(1.25);*/
}

/* Footer */

.page-footer {
  background-color: #777777;
  color: #ffffff;
}

/* Misc */

.circle-number {

  width: 4rem;
  height: 4rem;

  display: block;

  background-color: #0F2167;
  border-radius: 2rem;
  color: #fff;

  font-family: 'Source Serif Pro', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  vertical-align: bottom;

}
