<!DOCTYPE html>
<html lang="en-us">

  <!-- head -->
  <head>

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A small, but growing, accounting firm that has prided itself in serving its local clientele across many generations." />
    <title>William Thomas &amp; Associates</title>

    <!-- Third Party CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/paradeiser/0.4.2/min/paradeiser.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mandali|Source+Serif+Pro:700" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- WTA Custom CSS -->
    <link type="text/css" media="screen" rel="stylesheet" href="css/style.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"></script>

  </head><!-- /head -->

  <!-- body -->
  <body>

    <!-- header -->
    <header>
      <nav class="navbar-top paradeiser">
        <a href="index.html" title="Home">
          <img src="img/icons/smallsquare.svg" alt="Logo" class="williamthomas_logo" />
          <span>Home</span>
        </a>
        <a href="services.html">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/services.svg" alt="Navigate to Services">
          </div>
          <span>Services</span>
        </a>
        <a href="subscribe.html">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/subscribe.svg" alt="Subscribe to Newsletter">
          </div>
          <span>Subscribe</span>
        </a>
        <a href="#!">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/about.svg" alt="About Us">
          </div>
          <span>About</span>
        </a>
        <span class="paradeiser_dropdown">
          <a href="#paradeiser-more" id="paradeiser-dropdown">
            <div class="paradeiser_icon_canvas">
              <img src="img/icons/more.svg" alt="" />
            </div>
            <span>More</span>
          </a>
          <ul class="paradeiser_children" id="paradeiser-more">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Make an Appointment</a></li>
            <li><a href="#">Jobs</a></li>
            <li id="greybox"><a href="#!"></a></li>
          </ul>
        </span>
      </nav>
    </header><!-- /header -->

    <!-- main -->
    <main>
      <div class="wrapper-main">
        <!-- start page content -->
        <section class="banner-section centered">
          <img class="logo-big" src="img/icons/williamthomas.svg" alt="williamthomas" />
        </section>
        <h1>Introduction</h1>
        <section class="content-section">
          <p>
            William Thomas &amp; Associates is a full-service accounting firm serving clients throughout the area, dedicated to providing our clients with professional, personalized services and guidance in a wide range of financial and business needs. Today, more than ever, you need advisors who go beyond the basics. The team at William Thomas &amp; Associates take pride in the work we do for our clients to develop strong business strategies and explore creative ideas that will provide long-term benefits for your financial future. We strive to minimize your current and future tax liabilities, and serve as your guide through the necessary steps to help you grow your business and personal net worth. We encourage regular interaction between our team members and our most important asset - our clients!
          </p>
          <p>
            On this website, you will find information about William Thomas &amp; Associates, including our list of services. We have also provided you with online resources to assist in the tax process and financial decision-making. These tools include downloadable tax forms and publications, financial calculators, news and links to other useful sites. Check out our news page and feel free to subscribe to our monthly newletter.  Whether you are an individual or business in the Greater Cleveland area, William Thomas &amp; Associates has years of valuable experience assisting professionals with their accounting needs.
          </p>
          <p>
            Contact us today to see how we can help you build your net worth and assure your financial future.
          </p>
            <a href="#" class="button">Request an appointment</a>
          <br />
        </section>
        <section class="feature-section centered">
          <img class="img-block" src="img/photos/a_tax_adviser_can_help_you_with_your_taxes_and_improve_your_financial_health.jpg" />
          <div class="divider-top">
            <div class="col-6 feature-content">
              <div class="feature-heading">
                <h2>Core Values</h2>
              </div>
              <ul>
                <li><div class="circle-number">1</div><p>Honesty, integrity and ethics.</p></li>
                <li><div class="circle-number">2</div><p>One firm working together for the benefit of its employees and clients.</p></li>
                <li><div class="circle-number">3</div><p>Teamwork in an atmosphere of mutual respect and accountability.</p></li>
                <li><div class="circle-number">4</div><p>Developing team members to help them achieve their full potential.</p></li>
                <li><div class="circle-number">5</div><p>Provide exceptional service that focuses exclusively on tax, assurance and business consulting.</p></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- end of page content -->
      </div>
    </main><!-- /main -->

    <!-- footer -->
    <footer class="page-footer divider-top">
      <p>Copyright &copy; 2015 William Thomas &amp; Associates</p>
      <nav>
        <ul>
          <li><a title="Home"      href="index.html"  class="footer links"   >Home</a></li>
          <li><a title="Services"  href="services.html" class="footer links" >Services</a></li>
          <li><a title="Subscribe" href="subscribe.html"class="footer links" >Subscribe</a></li>
          <li><a title="About"     href="#"          class="footer links"    >About</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <li><a title="Facebook" href="#"class="footer links">Facebook</a></li>
          <li><a title="Twitter"  href="#"class="footer links">Twitter</a></li>
          <li><a title="LinkedIn" href="#"class="footer links">LinkedIn</a></li>
        </ul>
      </nav>
      <dl>
        <div class="contact">
        <dt><b>Address</b></dt>
            <dd>123 Shaler St. Suite #210<br />Cleveland OH, 44340</dd></div>
          <div class="contact">
            <dt><b>Phone</b>
            <dt><b>Address</b></dt>
</dt>
        <dd>330.123.1144</dd></div>
        <div class="contact">
        <dt><b>Email</b>
        <dt><b>Address</b></dt>
</dt>
        <dd><a href="mailto:contact@wta.com">contact@wta.com</a></dd></div>
      </dl>
    </footer><!-- /footer -->

  </body><!-- /body -->

</html>
<!-- end of document -->
