<!DOCTYPE html>
<html lang="en-us">

  <!-- head -->
  <head>

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A small, but growing, accounting firm that has prided itself in serving its local clientele across many generations." />
    <title>William Thomas &amp; Associates</title>

    <!-- Third Party CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/paradeiser/0.4.2/min/paradeiser.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mandali|Source+Serif+Pro:700" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- WTA Custom CSS -->
    <link type="text/css" media="screen" rel="stylesheet" href="css/style.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"></script>

  </head><!-- /head -->

  <!-- body -->
  <body>

    <!-- header -->
    <header>
      <nav class="navbar-top paradeiser">
        <a href="index.html" title="Home">
          <img src="img/icons/smallsquare.svg" alt="Logo" class="williamthomas_logo" />
          <span>Home</span>
        </a>
        <a href="services.html">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/services.svg" alt="Navigate to Services">
          </div>
          <span>Services</span>
        </a>
        <a href="subscribe.html">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/subscribe.svg" alt="Subscribe to Newsletter">
          </div>
          <span>Subscribe</span>
        </a>
        <a href="#!">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/about.svg" alt="About Us">
          </div>
          <span>About</span>
        </a>
        <span class="paradeiser_dropdown">
          <a href="#paradeiser-more" id="paradeiser-dropdown">
            <div class="paradeiser_icon_canvas">
              <img src="img/icons/more.svg" alt="" />
            </div>
            <span>More</span>
          </a>
          <ul class="paradeiser_children nav-list" id="paradeiser-more">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Make an Appointment</a></li>
            <li><a href="#">Jobs</a></li>
            <li id="greybox"><a href="#!"></a></li>
          </ul>
        </span>
      </nav>
    </header><!-- /header -->

    <!-- main -->
    <main>
      <div class="wrapper-main">
        <!-- start page content -->
        <h1>Services</h1>
        <section class="banner-section centered">
          <img src="img/photos/bkg_troubled_accounting.jpg" />
        </section>
        <section class="content-section">
          <p>William Thomas &amp; Associates provides a wide range of services to individuals and businesses in a variety of industries. At William Thomas, we strive to meet each client's specific needs in planning for the future and achieving their goals in an ever-changing financial and regulatory environment.</p>
        </section>
        <section class="feature-section divider-top">
          <div class="feature-content">
            <div class="feature-heading">
              <h2>Our professional services include:</h2>
            </div>
            <nav class="nav-list">
              <ul>
                <li><a title="Tax Management"                       href="#" >Tax Management</a></li>
                <li><a title="Accounting Services"                  href="#" >Accounting Services</a></li>
                <li><a title="Assurance and Advisory Services"      href="#" >Assurance and Advisory Services</a></li>
                <li><a title="Audits, Review, and Compilation"      href="#" >Audits, Review, and Compilation</a></li>
                <li><a title="Quickbooks and Accounting Assistance" href="#" >Quickbooks and Accounting Assistance</a></li>
                <li><a title="More Services"                        href="#" >... and More</a></li>
              </ul>
            </nav>
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <a title="Request information"    href="#" class="button-left">Request information for services listed above</a>
              </div>
              <div class="col-xs-12 col-md-4">
                <a title="Request an appointment" href="#" class="button">Request an appointment</a>
              </div>
            </div>
          </div>
        </section>
        <!-- end of page content -->
      </div>
    </main><!-- /main -->

    <!-- footer -->
    <footer class="page-footer divider-top">
      <p>Copyright &copy; 2015 William Thomas &amp; Associates</p>
      <nav>
        <ul>
          <li><a title="Home"      href="index.html"   >Home</a></li>
          <li><a title="Services"  href="services.html"  >Services</a></li>
          <li><a title="Subscribe" href="subscribe.html" >Subscribe</a></li>
          <li><a title="About"     href="#"         >About</a></li>
      </ul>
      </nav>
      <nav>
        <ul>
          <div class="social">
          <li><a title="Facebook" href="#"class="footer links">Facebook</a></li>
          <li><a title="Twitter"  href="#"class="footer links">Twitter</a></li>
          <li><a title="LinkedIn" href="#"class="footer links">LinkedIn</a></li>
        </div>
        </ul>
      </nav>
      <dl>
        <div class="contact">
          <dt><b>Address</b></dt>
          <dd>123 Shaler St. Suite #210<br />Cleveland OH, 44340</dd>
        </div>
        <div class="contact">
          <dt><b>Address</b></dt>
          <dd>330.123.1144</dd>
        </div>
        <div class="contact">
          <dt><b>Email</b>
          <dd><a href="mailto:contact@wta.com">contact@wta.com</a></dd>
        </div>
      </dl>
    </footer><!-- /footer -->

    <!-- JavaScript -->
    <script>
        // enabling to open the overflow menu as the pure css link
        // would toggle a scroll and therefore hide the menu
        document.getElementById("paradeiser-dropdown").addEventListener("click", function(event){
            // stopping the scroll
            event.preventDefault();
            // toggling the class
            document.getElementById("paradeiser-more").classList.toggle("open");
        });

        // hide the menu on click onto greybox
        document.getElementById("greybox").addEventListener("click", function(event){
            // stopping the scroll
            event.preventDefault();
            // toggling the class
            document.getElementById("paradeiser-more").classList.remove("open");
        });

        // enabling headroom
        var myElement = document.querySelector(".paradeiser");
        var headroom  = new Headroom(myElement, {
            tolerance : 5,
            onUnpin : function() {
                document.getElementById("paradeiser-more").classList.remove("open");
            }
        });
        headroom.init();
    </script>

  </body><!-- /body -->

</html>
<!-- end of document -->
