<!DOCTYPE html>
<html lang="en-us">

  <!-- head -->
  <head lang="en">

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A small, but growing, accounting firm that has prided itself in serving its local clientele across many generations." />
    <title>William Thomas &amp; Associates</title>

    <!-- Third Party CSS -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/paradeiser/0.4.2/min/paradeiser.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mandali|Source+Serif+Pro:700" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />

    <!-- WTA Custom CSS -->
    <link type="text/css" media="screen" rel="stylesheet" href="css/style.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.7.0/headroom.min.js"></script>

  </head><!-- /head -->

  <!-- body -->
  <body>

    <!-- header -->
    <header class="page-header">
      <nav class="navbar-top paradeiser" role="navigation">
        <a href="index.html" title="Home">
          <img src="img/icons/smallsquare.svg" alt="Logo" class="williamthomas_logo" />
          <span>Home</span>
        </a>
        <a href="services.html">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/services.svg" alt="Navigate to Services">
          </div>
          <span>Services</span>
        </a>
        <a href="subscribe.html">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/subscribe.svg" alt="Subscribe to Newsletter">
          </div>
          <span>Subscribe</span>
        </a>
        <a href="#!">
          <div class="paradeiser_icon_canvas">
            <img src="img/icons/about.svg" alt="About Us">
          </div>
          <span>About</span>
        </a>
        <span class="paradeiser_dropdown">
          <a href="#paradeiser-more" id="paradeiser-dropdown">
            <div class="paradeiser_icon_canvas">
              <img src="img/icons/more.svg" alt="See More Links" />
            </div>
            <span>More</span>
          </a>
          <ul class="paradeiser_children nav-list" id="paradeiser-more">
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Make an Appointment</a></li>
            <li><a href="#">Jobs</a></li>
            <li id="greybox"><a href="#!"></a></li>
          </ul>
        </span>
      </nav>
    </header><!-- /header -->

    <!-- main -->
    <main class="page-main" role="main">
      <div class="wrapper-main content-padded">
        <!-- start page content -->
        <h1>Services</h1>
        <section class="banner-section centered" role="banner">
          <img src="img/photos/bkg_troubled_accounting.jpg" alt="WTA Associates looking over tax forms." />
        </section>
        <section class="content-section" role="article">
          <p>William Thomas &amp; Associates provides a wide range of services to individuals and businesses in a variety of industries. At William Thomas, we strive to meet each client's specific needs in planning for the future and achieving their goals in an ever-changing financial and regulatory environment.</p>
        </section>
        <section class="feature-section divider-top">
          <div class="feature-content">
            <div class="feature-heading">
              <h2>Our professional services include:</h2>
            </div>
            <nav class="nav-list">
              <ul>
                <li><a title="Tax Management"                       href="#" >Tax Management</a></li>
                <li><a title="Accounting Services"                  href="#" >Accounting Services</a></li>
                <li><a title="Assurance and Advisory Services"      href="#" >Assurance and Advisory Services</a></li>
                <li><a title="Audits, Review, and Compilation"      href="#" >Audits, Review, and Compilation</a></li>
                <li><a title="Quickbooks and Accounting Assistance" href="#" >Quickbooks and Accounting Assistance</a></li>
                <li><a title="More Services"                        href="#" >... and More</a></li>
              </ul>
            </nav>
            <a title="Request information"    href="#" class="button-left action-link">Request information</a>
            <a title="Request an appointment" href="#" class="button action-link">Request an appointment</a>
          </div>
        </section>
        <!-- end of page content -->
      </div>
    </main><!-- /main -->

    <!-- footer -->
    <footer class="page-footer">
      <div class="content-padded">
        <p>Copyright &copy; 2015 William Thomas &amp; Associates</p>
        <nav class="footer-nav" role="navigation">
          <ul>
            <li><a title="Home"      href="index.html"   >Home</a></li>
            <li><a title="Services"  href="services.html"  >Services</a></li>
            <li><a title="Subscribe" href="subscribe.html" >Subscribe</a></li>
            <li><a title="About"     href="#"         >About</a></li>
            <li><a title="Jobs"      href="#"         >Jobs</a></li>
          </ul>
        </nav>
        <dl class="row" role="contentinfo">
          <div class="col-sm-12 col-md-3 contact">
            <dt><h3>Address</h3></dt>
            <dd>123 Shaler St. Ste #210<br />Cleveland OH, 44340</dd>
          </div>
          <div class="col-sm-12 col-md-3 contact">
            <dt><h3>Phone Number</h3></dt>
            <dd>330.123.1144</dd>
          </div>
          <div class="col-sm-12 col-md-3 contact">
            <dt><h3>Email</h3></dt>
            <dd><a href="mailto:contact@wta.com">contact@wta.com</a></dd>
          </div>
          <div class="col-sm-12 col-md-3 contact">
            <dt><h3>Connect with Us</h3></dt>
            <dd>
              <div class="social">
                <a href="#" title="Facebook" >
                  <div class="circle circle-social"><i class="fa fa-facebook"></i></div>
                </a>
                <a href="#" title="Twitter" >
                  <div class="circle circle-social"><i class="fa fa-twitter"></i></div>
                </a>
                <a href="#" title="Linked In" >
                  <div class="circle circle-social"><i class="fa fa-linkedin"></i></div>
                </a>
              </div>
            </dd>
          </div>
        </dl>
      </div>
    </footer><!-- /footer -->

    <!-- JavaScript -->
    <script type="text/javascript" src="js/wta.js"></script>

  </body><!-- /body -->

</html>
<!-- end of document -->
