@import url(https://fonts.googleapis.com/css?family=Mandali|Source+Serif+Pro);

body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
img {
  width:100%;
}
h1
{
  font-family: 'Source Serif Pro', Helvetica, Arial, sans-serif;

}
