@import url(https://fonts.googleapis.com/css?family=Mandali|Source+Serif+Pro);

body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Mandali', Helvetica, Arial, sans-serif;
}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}
img {
  width:100%;
}
h1
{
  font-family: 'Source Serif Pro', Helvetica, Arial, sans-serif;

}
input[type=submit] {
  padding:5px 5px 10px 10px;
  border:none;
  color:white;
  font-family:'Mandali';
  font-size:110%;
  background-color: #0F2167;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
input[type=email] {
  color:#white;
  font-family:'Mandali';
  background-color:#D8D8D8;
  border-color:979797;
  border: solid 1px;
  padding:5px;
  margin-bottom:10px;
}
input[type=text] {
  color:#white;
  font-family:'Mandali';
  background-color:#D8D8D8;
  border-color:979797;
  border: solid 1px;
  padding:5px;
  margin-bottom:10px;
}
